body {
    background-color: powderblue;
    font-family: Arial;
}
hl {
    font-size: medium;
}
a {
    color:powderblue;
    text-decoration: underline;
}
a:hover {
    color: white;
    text-decoration: none;
}
h2 {
    font-size: 16px;
}
p {font-size: 14px;
}